/*.gallery {
  margin: 10px 50px;
}
*/
.gallery img {
  transition: 1s;
  padding: 15px;
  /*width: 200px;*/
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.page-top {
  background-color: lightgray;
  margin-top: 30px;
}



/* Header
==================================================*/
nav {
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  height: 65px;
  background-color: #f3f3f3; 
}

nav ul {
  display: inline-block;
  padding-left: 0;
  list-style: none;
  padding: 20px;
  margin-bottom: 0;
  -webkit-transition: all .5s;
  transition: all .5s; 
}

nav li {
  display: inline-block;
  margin: 10px; 
}

nav li a {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #444;
  font-size: 18px;
  font-weight: bold; 
}

.bg-nav {
  background: #d3d3d3;
  border-bottom: 1px solid #f3f3f3; 
}

.bg-nav ul {
  padding: 10px; 
}

a:focus {
  color: #444;
  text-decoration: none; 
}

a:hover {
  color: #425BB5;
  text-decoration: none; 
}

a.active {
  color: #425BB5; 
}

/* home section
==================================================*/
#home {
  padding: 100px;
  background-image: url("https://www.pexels.com/photo/home-interior-with-garments-on-racks-6347888/");
 
}

/* designs section
==================================================*/
#designs {
  padding: 100px;
  background: #f3f3f3;
}

/* services section
==================================================*/
#services {
  padding: 100px;
  background: #ffffff;
}

/* contact section
==================================================*/
.form-box {
  max-width: 500px;
  margin: auto;
  padding: 50px;
}

#contact {
  padding: 100px;
  background: #f3f3f3;

}






